/* .card-heading{
    margin-bottom: 2rem;
}

.card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card img{
    width: 100%;
}

.card-content{
    padding: 1rem;
}

.card p{
    font-size: 1.6rem;
}

.card h3{
    font-size: 1.6rem;
}

.card h2, h3, p, a{
    margin: 1rem 0;
}

.super_hit{
    background-color: #7dcea0;
}

.average{
    background-color: #f7dc6f;
}

.rating{
    padding: .3rem 1.8rem;
    color: #000;
    margin-left: 1.2rem;
    border-radius: 100rem;
} */